Gemfile.lock
.env
.DS_Store
.last_rev
*.sublime-*
vendor/bundle
vendor/cache
*.gem
*.rbc
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.so
*.o
*.a
mkmf.log
.vagrant
logs
.idea
.bundle/*
